server {
  listen 8092 default_server;
  listen [::]:8092 default_server;
  
  access_log /home/ubuntu/public/logs/guangdong_visualization/access.log;
  error_log /home/ubuntu/public/logs/guangdong_visualization/error.log warn;

  server_name 52.82.91.125;

  location / {
    root /home/ubuntu/public/www/guangdong_visualization/dist/;
    index  index.html; 
    try_files $uri $uri/ /index.html; 
  }
}